ISABELLE WAKISA B30311 S24B38/019

i. Shapiro-Wilk's test

This test can be used to check whether the distribution of household sizes in Uganda follows a normal distribution.

ii.One-way ANOVA test

The test can be used to compare the average population density across different regions of Uganda to determine if there are significant differences between them.

iii.Pearson's correlation test

This test can be used to analyse the relationship between population density and average household size to determine if areas with higher population density tend to have large or small household size.

iv.The cumulative Distribution Function

It can be used to determine the probability that a randomly selected individual is below a certain age.

v.Poisson Distribution

This distribution can be used to model the number of births or deaths occuring per unit of time in different reions, assuming the events occur independently

PRACTICAL SECTION

In [1]:
import pandas as pd

In [2]:
study = pd.read_csv('Students.csv',delimiter=';')
study

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [5]:
study.dtypes  #to define the different datatypes

Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance\t                        int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Checking for any missing data

In [6]:
study.isna().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

No missing values

2. What is the probability of a student being "Enrolled" under the variable "Target"?

Finding the total number of students in the dataset

In [7]:
total_students = len(study)
total_students

4424

Count how many students are labelled as 'Enrolled' under the 'Target' column.

In [9]:
enrolled_students = len(study[study['Target'] == 'Enrolled'])
enrolled_students

794

Total number of students in the 'Target' variable

In [64]:
total_target = study['Target'].count()
total_target = int(total_target)
total_target

4424

Probability of student being 'Enrolled' under the variable 'Target'

In [65]:
prob_enrolled = enrolled_students/total_target
prob_enrolled

0.1794755877034358

3. What is the probability of a student being a 'Graduate' with a 'Marital status' of 1

Count how many students are labeled as 'Graduate' under the 'Target' column

In [20]:
graduate_students = len(study[study['Target'] =='Graduate'])
graduate_students

2209

Count how many of those graduates have a Marital status of 1

In [28]:
#Using the astype(str) to convert the marital staus column into a string type because it kept bringing an error saying 'int object is not subscriptable'

In [34]:
study['Marital status'] =study['Marital status'].astype(str)
#This will ensure the Marital status column is treated as a string even though the values are numeric

In [36]:
study.dtypes #To check whether Marital status was converted to an object

Marital status                                     object
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance\t                        int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [41]:
study.columns  #display column names, I wanted to check for the column names

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [42]:
study['Target'].unique()   #checking for unique values in the Target column.

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [53]:
#filter graduates with a marital status of 1
graduates_with_maritalstatus = study[(study['Target'] == 'Graduate')& (study['Marital status'] == '1') ]
count_graduates_with_maritalstatus = len(graduates_with_maritalstatus)

In [54]:
#Ensuring it is an integer before divison
count_graduates_with_maritalstatus = int(count_graduates_with_maritalstatus)

In [51]:
#Ensuring it is an integer before division.
total_students =int(total_students)

In [52]:
probability = count_graduates_with_maritalstatus/total_students
probability

0.45547016274864377

4. What is the marginal probability of the variable 'Age at enrollment'?

The marginal probability in this case of 'Age enrollment' is the probabilty distribution of that variable across all possible values.

In [58]:
#occurances of each unique age 
age_counts = study['Age at enrollment'].value_counts()
age_counts

Age at enrollment
18    1036
19     911
20     599
21     322
22     174
24     131
23     108
26      94
25      93
27      91
28      83
29      66
32      61
34      60
31      55
35      49
30      49
33      45
37      42
39      38
36      35
41      31
38      29
43      25
40      23
45      22
44      21
47      18
50      16
42      13
49      13
46      12
48      11
51       7
54       7
53       7
55       5
17       5
52       4
58       3
59       3
60       2
57       2
70       1
61       1
62       1
Name: count, dtype: int64

In [57]:
marginal_probabilities = age_counts/total_students
marginal_probabilities

Age at enrollment
18    0.234177
19    0.205922
20    0.135398
21    0.072785
22    0.039331
24    0.029611
23    0.024412
26    0.021248
25    0.021022
27    0.020570
28    0.018761
29    0.014919
32    0.013788
34    0.013562
31    0.012432
35    0.011076
30    0.011076
33    0.010172
37    0.009494
39    0.008590
36    0.007911
41    0.007007
38    0.006555
43    0.005651
40    0.005199
45    0.004973
44    0.004747
47    0.004069
50    0.003617
42    0.002939
49    0.002939
46    0.002712
48    0.002486
51    0.001582
54    0.001582
53    0.001582
55    0.001130
17    0.001130
52    0.000904
58    0.000678
59    0.000678
60    0.000452
57    0.000452
70    0.000226
61    0.000226
62    0.000226
Name: count, dtype: float64

5.What is the probabilty that the 'Age of enrollment' is 18?

In [67]:
#count how many times 18 appears in the Age at enrollment column
count_age_18 = (study['Age at enrollment'] == 18).sum()
count_age_18 = int(count_age_18)
count_age_18

1036

In [68]:
probability_at_age_18 = count_age_18/total_students
probability_at_age_18

0.23417721518987342